body {
    display: flex;
    justify-content: center;
    margin:0;
}

.App {
    width: 450px;
}

h1 {
    margin: 20px auto 20px;
}

h2 {
    margin: 20px 0px 20px;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input {
    border: none;
    outline: none;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ddd;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #ddd;
}

span {
    font-weight: bold;
}